
@font-face{
    src: url("../Assets/static/Quicksand-Bold.ttf");
    font-family: Quicksand-Bold;
}

@font-face{
    src: url("../Assets/static/Quicksand-Light.ttf");
    font-family: Quicksand-Light;
}

@font-face{
    src: url("../Assets/static/Quicksand-Medium.ttf");
    font-family: Quicksand-Medium;
}

@font-face{
    src: url("../Assets/static/Quicksand-Regular.ttf");
    font-family: Quicksand-Regular;
}

@font-face{
    src: url("../Assets/static/Quicksand-SemiBold.ttf");
    font-family: Quicksand-SemiBold;
}



.header{
    height:60px;
    background-image: url('../Assets/images/hpi.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid #3AC7EC;
    display: flex;
    align-items: center;
    padding:2px 20px;
    margin-bottom:20px;
    

}

body{
    margin:0px;
    padding:0px;
}

.main{
    min-height: calc(100vh - 60px - 50px);
    background-color: #EEEEEE;

}

.container{
    min-height: calc(100vh - 50px - 60px - 80px);
    padding: 40px;
}

.numbers{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 60px;
    background-color: #8DDC97;

}

.courses{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid black;
}

.classes{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.txt-no{
    font-family: Quicksand-Bold;
    font-size: 30px;
}

.txt-name{
    font-family: Quicksand-Medium;
    font-size: 20px;
    margin-left: 5px;
}

.img-class{
    margin-right:15px;
}

.img-course{
    margin-right:10px;
}

.bottom{
    height: 60px;
    border-bottom: 5px solid #FFFFFF;
    margin-left: auto;
    
}


#dash{
    margin-top: 20px;
    color: #FFFFFF;
    font-family: Quicksand-SemiBold;
    font-size:medium; 
}

.menu-items{
    font-family: Quicksand-SemiBold;
    
    color: #2bc97c;
    margin-left: 70px;
    font-size:medium;   
}

#ham{
    display: none;
}


@media screen and (max-width: 900px){
    .menu{
        display: none;
    }
    #alert{
        margin-left: auto;
    }
    .menu-items{
        margin-left: 15px;
        height: 30px;
    }
    #ham{
        display: block;
    }
}
.filter{
    display: flex;
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 20px;
    margin-top:20px;
}
.sort{
    margin-left: auto;
    margin-top: 13px;
}
.course-name{
    margin-top: 0px;
    margin-right: 45px;
    font-family: Quicksand-Medium;
}
.course-arrow{
    display: flex;
    border-bottom: 2px solid #D1D1D1;
    height: 23px;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.course-arrow, .upArrow{
    margin-top: 10px;
}

.blur-txt{
    font-family: Quicksand-Light;
    color: #686868;
    font-size: 13px;
    font-weight:bold;
}
.c1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 350px 350px;
    grid-gap: 30px;
}
.c2{
    background-color: #FFFFFF;
    padding: 40px 30px 10px 30px;
}
.title-image{
    float: left;
    height: 230px;
    width: 200px;
}

.title-content{
    margin-left:20px;
    margin-bottom: 5px;
    padding-top:8px;
    font-family:Quicksand-Bold;
    width: 250px;
    
}
.first{
    grid-column: 1/2;
}
.second{
    grid-column: 2/3;
}
.third{
    grid-column: 1/2;
}
.fourth{
    grid-column: 2/3;
}

@media screen and (max-width: 900px){
    .c1{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 350px 350px 350px 350px;
        grid-gap: 60px;
    }

    .first{
        grid-column: 1/-1;
    }
    .second{
        grid-column: 1/-1;
    }
    .third{
        grid-column: 1/-1;
    }
    .fourth{
        grid-column: 1/-1;
    }

    .header{
        border-bottom: 2px solid #3AC7EC;
    }
}
.footer{
    width: 100%;
    height: 50px;
    background: #E0E1E1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute;
    bottom: 0; */
}

.vl{
    border-left: 2px solid #C5C6C6;
    height: 20px;
    margin: 0px 20px;
}

.v2{
    border-left: 2px solid #C5C6C6;
    height: 15px;
    margin: 0px 20px;
}
.copyright{
    color: #616161;
    word-spacing: 2px;
}

.content-2{
    display: flex;
    align-items: center;
    color: #1F7A54;
    justify-content: center;
    margin-top: 15px;
}

.blur-txt{
    font-family: Quicksand-Light;
    color: #686868;
    font-size: 13px;
    font-weight:bold;
}

.card-content{
    min-height: 250px;
    padding: 0px;
    border-bottom: 1px solid #D1D1D1;
}

.card-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.blur{
    opacity: 0.5;
}

.flex-container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:5px;
}
.flex-container2{
    display: flex;
    align-items: center;
    margin-left:220px;
    padding:0px;
    margin-bottom:10px;
}

.flex-text1{
   font-family: Quicksand-Light; 
   font-size:small;
}

.flex-text2{
    font-family: Quicksand-Regular;
    color: #0c5336;
    font-size:small;
    padding-left:5px;
}

.flex-container3{
    display: flex;
    align-items: center;
    margin-left:220px;
    margin-bottom:35px;
    color: #686868;
    
}

.flex-no{
    margin-right:6px;
    font-family: Quicksand-Bold;
}

.flex-txt{
    font-family: Quicksand-Light;
    margin-right:10px;
    font-size:small;
}

.lec-arrow{
    display: flex;
    border-bottom: 2px solid #D1D1D1;
    height: 23px;
    margin-right: 40px;
    margin-left: 20px;
    
    margin-top:10px;
    justify-content: space-between;
}

.lec-name{
        margin-left: 20px;
        margin-top: 0px;
        margin-right: 45px;
        font-family: Quicksand-Bold;
    }

.flex-container4{
        display: flex;
        align-items: center;
        margin-left:220px;
        margin-top:10px;
        font-family: Quicksand-Light;
}

.auth{
    display: flex;
    border-bottom: 2px solid #D1D1D1;
    height: 28px;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left:220px;
}

.auth2-name{
    margin-top: 0px;
    font-family: Quicksand-Light;
    color: #686868;
    
    font-weight:bold;
}

.auth-name{
    margin-top: 0px;
    font-family: Quicksand-SemiBold;
    
}

.txt4{
    font-family: Quicksand-Light;
    font-size: 90%;
    color: #686868;
}
