
@font-face{
    src: url("../Assets/fonts/Quicksand-Bold.ttf");
    font-family: Quicksand-Bold;
}

@font-face{
    src: url("../Assets/fonts/Quicksand-Light.ttf");
    font-family: Quicksand-Light;
}

@font-face{
    src: url("../Assets/fonts/Quicksand-Medium.ttf");
    font-family: Quicksand-Medium;
}

@font-face{
    src: url("../Assets/fonts/Quicksand-Regular.ttf");
    font-family: Quicksand-Regular;
}

@font-face{
    src: url("../Assets/fonts/Quicksand-SemiBold.ttf");
    font-family: Quicksand-SemiBold;
}

.back-img{
    background-image: url('../Assets/images/header.png');
    background-repeat: no-repeat;
    background-size: cover;

}


.header{
    height:60px;
    background: rgba(2, 26, 41, 0.651);
    border-bottom: 2px solid #3AC7EC;
    display: flex;
    align-items: center;
    padding:2px 20px;
    
    

}

body{
    margin:0px;
    padding:0px;
}

.main{
    min-height: calc(100vh - 60px - 50px);
    background-color: #EEEEEE;

}

.container{
    min-height: calc(100vh - 50px - 60px - 80px);
    padding: 40px;
}

.numbers{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 60px;
    background-color: #8DDC97;

}

.courses{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid black;
}

.classes{
    display: flex;
    align-items: center;
    justify-content: center; 
}

.txt-no{
    font-family: Quicksand-Bold;
    font-size: 30px;
}

.txt-name{
    font-family: Quicksand-Medium;
    font-size: 20px;
    margin-left: 5px;
}

.img-class{
    margin-right:15px;
}

.img-course{
    margin-right:10px;
}

.bottom{
    height: 60px;
    border-bottom: 5px solid #FFFFFF;
    margin-left: auto;
    
}


#dash{
    margin-top: 20px;
    color: #FFFFFF;
    font-family: Quicksand-SemiBold;
    font-size:medium; 
}

.menu-items{
    font-family: Quicksand-SemiBold;
    
    color: #2bc97c;
    margin-left: 70px;
    font-size:medium;   
}

#ham{
    display: none;
}


@media screen and (max-width: 1024px){
    .menu{
        display: none;
    }
    #alert{
        margin-left: auto;
    }
    .menu-items{
        margin-left: 15px;
        height: 30px;
    }
    #ham{
        display: block;
    }
}
.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 20px;
    margin-top:20px;
}
.sort{
    margin-left: auto;
    margin-top: 13px;
}
.course-name{
    margin-top: 0px;
    margin-right: 45px;
    font-family: Quicksand-Medium;
}
.course-arrow{
    display: flex;
    border-bottom: 2px solid #D1D1D1;
    height: 23px;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.course-arrow, .upArrow{
    margin-top: 10px;
}

.blur-txt{
    font-family: Quicksand-Light;
    color: #686868;
    font-size: 13px;
    font-weight:bold;
}
.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 350px 350px;
    grid-gap: 30px;
}
.cardItem{
    background-color: #FFFFFF;
    padding: 40px 30px 10px 30px;
}

.cardItm{
    background-color: #FFFFFF;
    padding: 20px 30px 10px 30px;
}
.title-image{
    float: left;
    height: 230px;
    width: 200px;
}

.title-content{
    margin-left:20px;
    margin-bottom: 5px;
    padding-top:8px;
    font-family:Quicksand-Bold;
    width: 250px;
    
}
.first{
    grid-column: 1/2;
}
.second{
    grid-column: 2/3;
}
.third{
    grid-column: 1/2;
}
.fourth{
    grid-column: 2/3;
}

@media screen and (max-width: 1024px){
    .c1{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(1, 1fr));
        grid-auto-rows: 350px;
        grid-gap: 60px;
    }

    .first{
        grid-column: 1/-1;
    }
    .second{
        grid-column: 1/-1;
    }
    .third{
        grid-column: 1/-1;
    }
    .fourth{
        grid-column: 1/-1;
    }

    .header{
        border-bottom: 2px solid #3AC7EC;
    }

}
.footer{
    width: 100%;
    height: 50px;
    background: #E0E1E1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.vl{
    border-left: 2px solid #C5C6C6;
    height: 20px;
    margin: 0px 20px;
}

.v2{
    border-left: 2px solid #C5C6C6;
    height: 15px;
    margin: 0px 20px;
}
.copyright{
    color: #616161;
    word-spacing: 2px;
}

.content-2{
    display: flex;
    align-items: center;
    color: #1F7A54;
    justify-content: center;
    margin-top: 15px;
}

.blur-txt{
    font-family: Quicksand-Light;
    color: #686868;
    font-size: 13px;
    font-weight:bold;
}

.card-content{
    min-height: 250px;
    padding: 0px;
    border-bottom: 1px solid #D1D1D1;
}


.card-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.blur{
    opacity: 0.5;
}

.flex-container1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:5px;
    
}
.flex-container2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left:220px;
    padding:0px;
    margin-bottom:10px;
}

.flex-text1{
   font-family: Quicksand-Light; 
   font-size:small;
   
}
.flex-txt1{
    font-family: Quicksand-Light; 
    font-size:small;
    
 }

.flex-text2{
    font-family: Quicksand-Regular;
    color: #0c5336;
    font-size:small;
    padding-left:5px;
}

.flex-container3{
    display: flex;
    align-items: center;
    margin-left:220px;
    margin-bottom:15px;
    color: #686868;
    flex-wrap:wrap;
    
}

.flex-no{
    margin-right:6px;
    font-family: Quicksand-Bold;
}

.flex-txt{
    font-family: Quicksand-Light;
    margin-right:10px;
    font-size:small;
}

.lec-arrow{
    display: flex;
    border-bottom: 2px solid #D1D1D1;
    height: 23px;
    margin-right: 40px;
    margin-left: 20px;
    
    margin-top:10px;
    justify-content: space-between;
}

.lec-name{
        margin-left: 20px;
        margin-top: 0px;
        margin-right: 45px;
        font-family: Quicksand-Bold;
    }

.flex-container4{
        display: flex;
        align-items: center;
        flex-wrap:wrap;
        margin-left:220px;
        margin-top:10px;
        font-family: Quicksand-Light;
}

.auth{
    display: flex;
    border-bottom: 2px solid #D1D1D1;
    height: 28px;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left:220px;
}

.auth2-name{
    margin-top: 0px;
    font-family: Quicksand-Light;
    color: #686868;
    
    font-weight:bold;
}

.auth-name{
    margin-top: 0px;
    font-family: Quicksand-SemiBold;
    
}

.txt4{
    font-family: Quicksand-Light;
    font-size: 90%;
    color: #686868;
}
.txt5{
    font-family: Quicksand-Light;
    font-size: 90%;
    color: #686868;
}
@media screen and (min-width:700px){
    .expire{
        color: #DB1112;
        position: relative;
        top: -16px;
        right: 30px;
        background-color: #FFE4E6;
        padding: 4px;
    }
}
@media screen and (max-width:700px) {
    .title-image{
        display:flex;
        align-items: center;
        justify-content: center;
        width:30%;
        height:30%;
    }

.flex-container2{
    margin:0px;
    padding-left:10px;
    padding-bottom:20px;
}
.flex-container3{
    margin:0px;
    padding-left: 10px;
   
}
.auth{
    margin-top:25px;
    margin-left:0px;
    border-bottom:1px solid #686868;
    padding-left:10px;
    
}
.flex-container4{
    margin-left:0px;
    font-size:70%;
    padding-left:10px;
    margin-top:0px;
    
}
.blur-txt{
    
    padding: 0px;
}


.expire{
    color: #DB1112;
    position: relative;
    top: -16px;
    right: 30px;
    background-color: #FFE4E6;
    padding: 4px;
}
#special{
    padding: 20px 30px 10px 30px;
}

.v2{
    margin:0;
}

.flex-text1{
    margin-right:10px;
}

.flex-txt1{
    margin-left:10px;
}

.txt4{
    margin-right:10px;
}

.txt5{
    margin-left:10px;
}

.title-content{
    margin-left:10px;
}

.course-arrow{
    height:43px;
}
}

.badge{
    border-radius: 50%;
    background: #2A7FF3;
    color: white;
    font-size: 12px;
    padding: 2px 6px;

    position: relative;
    top: -11px;
    right: 15px;
}
.badge1{
    border-radius: 50%;
    background: #2A7FF3;
    color: white;
    font-size: 12px;
    padding: 2px 8px;

    position: relative;
    top: -12px;
    right: 10px;
}
.badge2{
    border-radius: 50%;
    background: white;
    color: black;
    font-size: 12px;
    padding: 2px 6px;

    position: relative;
    top: -12px;
    right: 9px;
}

.profile{
    height: 26px;
    border-radius: 50%;
    border:2px solid #3FD28B;
}
@media screen and (min-width: 490px) {
    .auth{
        display: flex;
        border-bottom: 2px solid #D1D1D1;
        height: 28px;
        justify-content: space-between;
        margin-top: 25px;
        margin-bottom: 0px;
    
    }
    .txt-no{
        font-family: Quicksand-Bold;
        font-size: 30px;
    }
    .txt-name{
        font-family: Quicksand-SemiBold;
        font-size: 20px;
        margin-left: 5px;
    }
   

}

@media screen and (max-width: 380px){
    .not{
        display: none;
    }
    #ham{
        margin-left: auto;
    }
    .auth-name{
        font-size:small;
    }
    .auth{
        margin-right: 0px;
        display: flex;
        border-bottom: 2px solid #D1D1D1;
        height: 28px;
        justify-content: space-between;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .img-class{
        height:20px;
    }

    .img-course{
        height:20px;
    }

    .title-content{
        padding-top:0px;
        font-size:small;
    }

    .txt-no{
        font-family: Quicksand-Bold;
        font-size: 15px;
    }
    .txt-name{
        font-family: Quicksand-SemiBold;
        font-size: 10px;
        margin-left: 5px;
    }
    
    .course-name{
        font-size: 12px;
        margin-right: -20px;
        margin-top: 0px;
    }
    
    .course-arrow{
        min-width: 100px;
        justify-content: space-between;
        margin-right: 12px;
        margin-left: 10px;
        display: flex;
        border-bottom: 2px solid #D1D1D1;
        height: 23px;
    }
    .auth-name{
        margin-top: 0px;
        font-family: Quicksand-SemiBold;
    }

    .blur-txt{
        font-size: x-small;
        margin-top: 10px;
        padding-left: 5px;
    }
    .flex-no,.flex-txt{
        font-size: x-small;
    }

    .copyright{
        font-size: small;
    }

    .txt5{
        margin-left:5px;
    }
    
}


.title-image-expire{
    opacity:0.1;
}

select{
    border:transparent;
    width:100%;
    font-family:Quicksand-Light;
    font-size:medium;
    font-weight: Bold;
    color:black;
    margin-top:5px;
}

.aboutCourse{
    border:transparent;
    width:100%;
    font-family:Quicksand-Light;
    font-size:small;
    font-weight: Bold;
    color:black;
    margin-top:0px;
    background-color:#EEEEEE;
}
.title-contentSpecial{
    font-family: Quicksand-SemiBold;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow: hidden;
    margin-left:20px;
    margin-bottom: 5px;
}
