@font-face {
    src: url("../Assets/fonts/Quicksand-Bold.ttf");
    font-family: Quicksand-Bold;
}
@font-face {
    src: url("../Assets/fonts/Quicksand-Light.ttf");
    font-family: Quicksand-Light;
}
@font-face {
    src: url("../Assets/fonts/Quicksand-Medium.ttf");
    font-family: Quicksand-Medium;
}
@font-face {
    src: url("../Assets/fonts/Quicksand-Regular.ttf");
    font-family: Quicksand-Regular;
}
@font-face {
    src: url("../Assets/fonts/Quicksand-SemiBold.ttf");
    font-family: Quicksand-SemiBold;
}

* {
    box-sizing: border-box;
}

body{
    
    padding: 0;
    margin: 0;
    font-family: Quicksand-Regular;
}

.header{
    background-image: url(../Assets/images/header.png);
    background-repeat: no-repeat;
    height: 60px;
    background-size: cover;
    border-bottom: 2px solid #3AC7EC;
    display: flex;
    align-items: center;
    padding: 4px 20px;
}
.footer{
    width: 100%;
    height: 50px;
    background: #E0E1E1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.vl{
    border-left: 2px solid #C5C6C6;
    height: 25px;
    margin: 0px 20px;
}
.copyright{
    color: #616161;
    word-spacing: 2px;
}

.container{
    
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: #FFFFFF;
    width: 600px;
    height: 700px;
    border-radius: 3px;
    border-top: 5px solid #3AC7EC;
    padding: 10px 35px;
}

.main-container{
    min-height: calc(100vh - 50px - 60px - 63px);
}
.main{
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.content-2{
    display: flex;
    align-items: center;
    color: #1F7A54;
}

.title{
    
    font-family: Quicksand-Bold;
    font-size: x-large;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px;
    align-items: center;
}
.back{
    grid-column: 1/2;
    height: 30px;
}
.heading{
    grid-column: 2/4;
}

.school{
    display: flex;
    margin-top: 20px;
    font-family: Quicksand-SemiBold;
}

.radio{
    float: left;
    margin-right: 10px;
}
.radioName{
    float: left; 
    margin-right: 45px;
    margin-top: 1px;
}

.label{
    margin-top: 25px;
    margin-bottom: 0px;
    font-family: Quicksand-Light;
    font-size: 15px;
}

.input{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2px;
    padding-bottom: 0px;
    height: 25px;
}
.inputText{
    font-family: Quicksand-SemiBold;
    margin-top: 0px;
}

.inputLine{
    margin-block-start: 0em;
    margin-block-end: 0em;
    border: 1px solid #E0E0E0;
    margin-bottom: 40px;
}

.credentials{
    font-family: Quicksand-Light;
    margin: 0;
}
.inputLine2{
    margin-block-start: 0em;
    margin-block-end: 0em;
    border: 1px solid #E0E0E0;
    margin-bottom: 55px;
}
.inputLine3{
    margin-block-start: 0em;
    margin-block-end: 0em;
    border: 1px solid #E0E0E0;
}
.forgot{
    text-align: end;
    color: #1F7A54;
    font-family: Quicksand-SemiBold;
    margin-top: 5px;
    margin-bottom: 45px;
}
.checked{
    float: left;
    margin-right: 5px;
}
.remember{
    float: left;
    font-family: Quicksand-SemiBold;
    margin-top: 2px;
}

.rem{
    width: 100%;
    height: 70px;
    
}
.logBtn{
    display: flex;
    justify-content: center;
    
    
}

.logIn{
    width: 55%;
    height: 45px;
    color: black;
    background-color: #3FD28B;
    font-family: Quicksand-SemiBold;
    border-radius: 3px;
    border: none;
    font-size:medium;
    box-shadow: 3px 3px 12px #bebebe;
}


